
<!-- Sidebar Holder -->
<nav id="sidebar" class="bg-primary">
	<div class="sidebar-header">
		<h3>
			Reports Admin<br>
			<i id="sidebarCollapse" class="glyphicon glyphicon-circle-arrow-left"></i>
		</h3>
		<strong>
			Reports<br>
			<i id="sidebarExtend" class="glyphicon glyphicon-circle-arrow-right"></i>
		</strong>
		
	</div><!-- /sidebar-header -->
	<!-- start sidebar -->
	<ul class="list-unstyled components">
		<li>
			<a href="./" aria-expanded="false">
				<i class="glyphicon glyphicon-home"></i>
				Home
			</a>
		</li>
<li>
	<a href="/tbl_codigos_cnl">
		<i class="glyphicon glyphicon-credit-card"></i>
		Tbl Codigos Cnl
		<span class="pull-right">{{tables_and_counts.0.1}}</span>
	</a>
</li>

<li>
	<a href="/tbl_tx_circuitos">
		<i class="glyphicon glyphicon-option-horizontal"></i>
		Tbl Tx Circuitos
		<span class="pull-right">{{tables_and_counts.1.1}}</span>
	</a>
</li>

<li>
	<a href="/users">
		<i class="glyphicon glyphicon-sunglasses"></i>
		Users
		<span class="pull-right">{{tables_and_counts.2.1}}</span>
	</a>
</li>

		<li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
	</ul>
	<div class ="visit">
		<p class ="text-center">Created using Python MAGE &hearts;</p>
		<a href ="https://github.com/housamz/python-mysql-admin-panel-generator" target="_blank" >Visit Project</a>
	</div>
</nav><!-- / end sidebar -->