
{% extends "base.html" %}

{% block content %}
	<a class="btn btn-primary" href="./edit_tbl_tx_circuitos/add/0">
		<i class="glyphicon glyphicon-plus-sign"></i> Add New Tbl_Tx_Circuitos
	</a>
	<h1>Tbl Tx Circuitos</h1>
	<p>This table includes {{table_count}} tbl_tx_circuitos</p>
	<table id="sorted" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Owner</th>
				<th>Species</th>
				<th>Sex</th>
				<th>Birth</th>
				<th>Dados</th>

				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			{% for row_data in data %}
			<tr>
				{% for d in row_data %}
					<td>{{d}}</td>
				{% endfor %}
				<td>
					<a href="./edit_tbl_tx_circuitos/edit/{{row_data[0]}}">
						<i class="glyphicon glyphicon-edit"></i>
					</a>
				</td>
				<td>
					<a 
						href="./save?cat=tbl_tx_circuitos&act=delete&modifier=name&id={{row_data[0]}}"
						onclick="return navConfirm(this.href);">
					<i class="glyphicon glyphicon-trash"></i>
					</a>
					</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}